.sequencer-container {
    margin: 5% auto;
    width: 65%;
    max-width: 900px;

    .global-control {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        & > * { 
            margin-left: 12px;
        }

        .play-button svg { cursor: pointer; font-size: 28px; }
    }

    > .ant-card-body {
        align-items: center;
        display: flex;
        justify-content: space-between;

        > div:first-child { 
            flex-grow: 1;
        }
    }
}