@parameterWidth: 32px;
@parameterHeight: 32px;
@parameterRightMargin: 16px;

.window-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
  }

.sequencer-settings-container {
    .settings-labels-container {
        align-items: center;
        display: flex;
        font-size: 12px;
        justify-content: flex-start;
        margin-bottom: 4px;

        .setting-label {
            margin-right: @parameterRightMargin;
            max-width: @parameterWidth;
            text-align: center;
            width: @parameterWidth;
        }
    }

    .sequence {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 12px;

        .active-switch {
            cursor: pointer;
            font-size: 16px;
        }

        .sequence-parameter {
            margin-right: @parameterRightMargin;
        }
    }
}